body{
    margin: 0;
    overflow-x: hidden;
    background-color: black;
}
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        text-decoration: none;
        list-style: none;
    }
    .main_container{
        min-height: 100vh;
        background: url(Medias/coffee-background.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        margin: auto;
    }
   
    nav ul{
        display: flex;
        align-items: center;

    }
    nav ul li{
        margin: 0 20px;
        
    }
    nav ul li a{
        color: #fff;
        font-size: 17px;
        transition: .3;
        cursor: pointer;
    }
     nav ul li a:hover{
        border-bottom: 2px solid #fce2bc;
     }
    
    .content{
        position: absolute;
        top: 35%;
        left: 90px;
    }
    h1{
        font-size: 50px;
        color: #fce2bc;
        font-weight: bolder;
    }
    p{
        font-size: 18px;
        font-family: cursive;
        color: #fff;
    }
    /*Menu section */
.menu-section{
    color: #fce2bc;
    background-color: black;
}
.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 110px;
    justify-content: space-between;

}
.menu-section .menu-list .menu-item {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: calc(100% / 3 - 110px);
}
.menu-section .menu-list .menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: 1;
}
.menu-image{
    box-shadow: 0 4px 8px black;
}
img:hover{
    transform: scale(1.03);
    transition: all 0.5s;
}
.accueil{
    background-color: #8B4513;
}
.contact img{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin-left: 90px;
    margin: left;
}
.contactform{
    background-color: #2C3E50;
    display: flex;
    gap: 30%;
}
.contact span{
    margin-top: 15px;
    display: flex;
}
.section-contact {
   
    padding: 50px 0 100px;
}
.info-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}
.info img{
    width: 30px;
    height: auto;
    margin-right: 15px;
}

button{
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 4px;
    color: bisque;
    background-color: chocolate;
    padding: 10px;
}
label{
   font-weight: bolder;
    color: #fce2bc;
}

.formulaire{
    margin-top: 15px;
    justify-content: flex-end;
    align-items: center;
    
}
footer{
    justify-content: center;
    align-items: center;
    display: flex;
}
.container img{
    width: 300px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 20px rgb(66, 60, 45) ;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container p{
    font-size: 18px;
    font-weight: bolder;
    color: #fce2bc;
}
.content-droite{
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #fce2bc;
}




    





   
    
    